.page {
	width: 100%;
	height: 100vh;
	padding-top: 52px;
	text-align: justify;
}

.page > h1 {
	margin-bottom: 20px;
}

.page >.container {
	margin-left: 100px;
	margin-right: 100px;
}

#page1 {
	/*background-color: #bdc3c7;*/
	background-image: url("../files/images/O7MF5N0.jpg");
	background-size: cover;
}
#page2 {
	background-color: #34495e;
	color: white;
}
#page3 {
	background-color: #bdc3c7;
}
#page4 {
	background-color: #34495e;
	color: white;
}
#page5 {
	background-color: #1abc9c;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.photoDeProfil {
	width: 300px;
	height: 300px;
	border-radius: 200px;
	border: 1px black solid;
}

.cover {
	background-color: rgba(255,255,255,0.6);
	border-radius: 25px;
}

p {
	font-size: 18px;
}

.row {
	margin-bottom: 20px;
}

#page5 > .container > h1 {
	font-size: 200px;
	color: white;
	/*visibility: hidden;*/
}

h1 {
	font-size: 98px;
}

h2 {
	font-size: 54px;
}

input {
	margin-bottom: 10px;
}

.flecheBas {
	transform: scaleY(-1);
	max-height: 50px;
	max-width: 50px;
	border-radius: 200px;
	background-color: transparent;
	transition: background 0.5s;
}

.flecheBas:hover {
	background-color: white;
	transition: background 0.5s;
}

#imgRea {
	max-height: 700px;
}

.container {
	width: auto;
	height: auto;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.CV {
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.CV:hover {
	color: white;
	text-decoration: none;
}